@charset "UTF-8";
.site-nav__link, .header-contacts__link, .mobile-nav__link, .mobile-contacts__link, .mobile-networks__link, .logo, .social-list__link, .client-card__link, .footer-contacts__info, .join-list__link, .project-card__link {
  text-decoration: none;
}

.site-nav, .header-contacts, .mobile-nav, .mobile-contacts, .mobile-networks, .advantage-list, .service-list, .team-cards, .social-list, .clients-list, .join-list, .filter, .project-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages, .services, .team, .clients, .projects {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .advantages, .services, .team, .clients, .projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
    margin-right: -50px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--current {
    color: #2196f3;
  }
  .site-nav__link--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-bottom: -10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    margin-left: auto;
    margin-right: -30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__item {
    margin-right: 30px;
  }
}

.header-contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__item:hover .header-contacts__link,
.header-contacts__item:hover .header-contacts__link {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__icon--envelope {
  width: 16px;
  height: 12px;
}

.header-contacts__icon--smartphone {
  width: 10px;
  height: 16px;
}

.header-contacts__item:hover .header-contacts__icon,
.header-contacts__item:hover .header-contacts__icon {
  fill: #2196f3;
}

.menu-button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
}

.close-menu-button {
  display: block;
  margin-top: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
}

.menu-button__icon {
  fill: #000000;
}

.menu-button__icon:hover, .menu-button__icon:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button__icon {
    display: none;
  }
}

.mobile-menu {
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.mobile-menu--is-hidden {
  opacity: 0;
  pointer-events: none;
}

.mobile-menu__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-nav__item {
  margin-left: 25px;
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  line-height: 1.17;
  color: #212121;
}

.mobile-nav__link--current {
  color: #2196f3;
}

.mobile-contacts {
  margin-top: auto;
  margin-bottom: -32px;
}

.mobile-contacts__item {
  margin-bottom: 32px;
  margin-left: 25px;
}

.mobile-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
}

.mobile-contacts__link--tel {
  font-size: 34px;
  color: #2196f3;
}

.mobile-contacts__link--email {
  font-size: 24px;
  color: #757575;
}

.mobile-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10px;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mobile-networks__item {
  margin-left: 10px;
}

.mobile-networks__item + .mobile-networks__item::before {
  content: "";
  width: 10px;
  height: 22px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}

.mobile-networks__link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--accent {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.page-header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .page-header__logo {
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.footer__logo {
  display: inline-block;
  padding: 0;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ration: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-mobile@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ration: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ration: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@2x.jpg);
  }
}

.hero__container {
  text-align: center;
}

.hero__title {
  max-width: 360px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
  }
}

.hero__button {
  padding: 10px 32px;
  background-color: #2196f3;
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.advantages__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.advantage-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.advantage-list__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantage-list__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list__item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.advantage-list__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-list__descr {
  margin: 0;
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantage-list__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
}

.services {
  padding-top: 0;
}

@media screen and (max-width: 1200px) {
  .services {
    display: none;
  }
}

.services__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-list__item {
  position: relative;
}

.service-list__item:not(:last-child) {
  margin-right: 30px;
}

.service-list__img {
  display: block;
}

.service-list__descr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 82px;
  padding-right: 83px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

/* Наша команда */
.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
  }
}

.team-cards {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-member {
  margin-bottom: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team-member {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-member {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team-member__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member__img {
  display: block;
  width: 100%;
}

.team-member__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-member__position {
  margin-top: 0;
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.client-card {
  margin: 15px;
  width: calc((100% - 4 * 15px) / 2);
}

@media screen and (min-width: 768px) {
  .client-card {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-card {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.client-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-card__link:hover, .client-card__link:focus {
  border-color: #2196f3;
}

.client-card__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-card__link:hover .client-card__icon,
.client-card__link:focus .client-card__icon {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .tablet-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.location {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: inherit;
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .location {
    margin-bottom: 9px;
  }
}

.footer-contacts__info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.footer-contacts__info + .footer-contacts__info {
  margin-top: 8px;
}

.footer-contacts__info:hover,
.footer-contacts__info:focus {
  color: #2196f3;
}

/* Join us */
@media screen and (max-width: 767px) {
  .join-us {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .join-us {
    margin-top: o;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join-us {
    margin-left: 70px;
  }
}

.join-us__action {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join-list__item + .join-list__item {
  margin-left: 10px;
}

.join-list__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__link:hover,
.join-list__link:focus {
  background-color: #2196f3;
}

.join-list__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* Subscribe */
@media screen and (min-width: 1200px) {
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

.subscribe__action {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .subscribe__action {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-form__input {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #ffffff;
}

@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
  }
}

.subscribe-form__input:focus {
  outline: none;
}

.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__button {
    margin-left: 12px;
  }
}

.subscribe-form__button::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__button:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__button::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__button::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

.subscribe-form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 609px;
  z-index: 3;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-button__icon {
  width: 11px;
  height: 11px;
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: #2196f3;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

@media screen and (max-width: 1199px) {
  .modal-form {
    max-width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form {
    width: 448px;
  }
}

.modal-form__descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.form-field {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: #757575;
}

.form-field__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form-field__input {
  display: block;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-field__input {
    width: 448px;
    width: 448px;
  }
}

.form-field__input:focus,
.form-field__input.comment:focus {
  border: 1px solid #2196f3;
  outline: none;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

.form-field__input--comment {
  max-width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .form-field__input--comment {
    width: 448px;
  }
}

.form-field__input--comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.terms__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.terms__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  color: #757575;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

@media screen and (min-width: 1200px) {
  .terms__label {
    font-size: 14px;
  }
}

.terms__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms__checkbox:checked + .terms__label .terms__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-size: contain;
}

.terms__link {
  color: #2196f3;
  margin-left: 5px;
}

.form-submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.projects__hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 15px;
  }
}

.filter__button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .project-list {
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .project-card {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .project-card {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .project-card {
    width: calc((100% - 6 * 15px) / 3);
  }
}

.project-card__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__link:hover, .project-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card__pic {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.project-card__img {
  display: block;
  width: 100%;
}

.project-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card__link:hover .project-card__overlay,
.project-card__link:focus .project-card__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card__border {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-card__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project-card__descr {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */