.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  height: 581px;

  z-index: 3;
  background-color: $main-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.close-button {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: $main-background-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.close-button__icon {
  width: 11px;
  height: 11px;
  fill: $logo-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover .close-button__icon,
.close-button:focus .close-button__icon {
  fill: $accent-color;
}

.modal-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  @media screen and (max-width: 1199px) {
    max-width: 370px;
  }

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.modal-form__descr {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;

  // @media screen and (min-width: 1200px) {
  //   text-align: initial;
  // }
}

.form-field {
  display: block;
  display: flex;
  flex-direction: column;
}

.form-field__label {
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
  color: $secondary-text-color;
}

.form-field__input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.form-field__input {
  display: block;

  height: 40px;
  width: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and(min-width: 1200px) {
    width: 448px;
    width: 448px;
  }
}

.form-field__input:focus,
.form-field__input.comment:focus {
  border: 1px solid $accent-color;
  outline: none;
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: $main-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  fill: $accent-color;
}

.form-field__input--comment {
  max-width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  margin-bottom: 20px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 448px;
  }
}

.form-field__input--comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.terms {
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.terms__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.terms__label {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: 12px;
  color: $secondary-text-color;
  letter-spacing: 0.03em;
  line-height: 1.71;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.terms__icon {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 4px;
  background-color: $main-background-color;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms__checkbox:checked + .terms__label .terms__icon {
  background-color: $accent-color;
  border-color: $accent-color;
  background-size: contain;
}

.terms__link {
  color: $accent-color;
  margin-left: 5px;
}

.form-submit-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  color: $light-text-color;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  background-color: $accent-color;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
